<div class="row ml-5 mt-5">
    <div class="col-2">
        <div class="border border-info">
            <p>Reúso de Componentes</p>
        </div>
    </div>
</div>
<div class="row ml-5 mt-5">
    <div class="col-6">
        <div class="border border-danger">
            <legend>caixa bagunçada</legend>
            <div class="m-5">
                <app-caixa-baguncada></app-caixa-baguncada>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<div class="row ml-5 mb-5">
    <div class="col-3">
        <div class="border border-primary">
            <legend>caixa de brinquedos</legend>
            <div class="m-5">
                <app-caixa-de-briquedos></app-caixa-de-briquedos>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="border border-success">
            <legend>caixa de ferramentas</legend>
            <div class="m-5">
                <app-caixa-de-ferramentas></app-caixa-de-ferramentas>
            </div>
        </div>
    </div>
</div>